# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PRM2T\Lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
